CentralnaBanka/WEB-INF/wsdl/cb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelloDocumentService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:mt900="http://www.ftn.uns.ac.rs/xws/xsd/mt900" xmlns:mt103="http://www.ftn.uns.ac.rs/xws/xsd/mt103"
	xmlns:mt910="http://www.ftn.uns.ac.rs/xws/xsd/mt910" xmlns:mt102="http://www.ftn.uns.ac.rs/xws/xsd/mt102"
	xmlns:cb="http://www.ftn.uns.ac.rs/xws/ws/cb" targetNamespace="http://www.ftn.uns.ac.rs/xws/ws/cb">

	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.ftn.uns.ac.rs/xws/xsd/mt102"
				schemaLocation="../xsd/mt102.xsd" />
			<import namespace="http://www.ftn.uns.ac.rs/xws/xsd/mt103"
				schemaLocation="../xsd/mt103.xsd" />
			<import namespace="http://www.ftn.uns.ac.rs/xws/xsd/mt900"
				schemaLocation="../xsd/mt900.xsd" />
			<import namespace="http://www.ftn.uns.ac.rs/xws/xsd/common"
				schemaLocation="../xsd/common.xsd" />
		</schema>
	</wsdl:types>

	<wsdl:message name="mt102Message">
		<wsdl:part name="mt102" element="mt102:mt102" />
	</wsdl:message>
	<wsdl:message name="mt103Message">
		<wsdl:part name="mt103" element="mt103:mt103" />
	</wsdl:message>
	<wsdl:message name="mt900Message">
		<wsdl:part name="mt900" element="mt900:mt900" />
	</wsdl:message>
	<wsdl:portType name="CbDocument">
		<wsdl:operation name="handleMt102">
			<wsdl:input message="cb:mt102Message" />
			<wsdl:output message="cb:mt900Message" />
		</wsdl:operation>
		<wsdl:operation name="handleMt103">
			<wsdl:input message="cb:mt103Message" />
			<wsdl:output message="cb:mt900Message" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CbServiceSoapBinding" type="cb:CbDocument">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="handleMt102">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="handleMt103">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CbDocumentService">
		<wsdl:port name="CbDocumentPort" binding="cb:CbServiceSoapBinding">
			<soap:address location="http://localhost:8080/cb" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
