CentralnaBanka/WEB-INF/wsdl/mpb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelloDocumentService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:mt103="http://www.ftn.uns.ac.rs/xws/bo/mt103" xmlns:mt910="http://www.ftn.uns.ac.rs/xws/bo/mt910"
	xmlns:mt102="http://www.ftn.uns.ac.rs/xws/bo/mt102" xmlns:mpb="http://www.ftn.uns.ac.rs/xws/ws/mpb"
	targetNamespace="http://www.ftn.uns.ac.rs/xws/ws/mpb">

	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:mpb="http://www.ftn.uns.ac.rs/xws/ws/mpb"
			targetNamespace="http://www.ftn.uns.ac.rs/xws/ws/mpb">
			<xsd:import namespace="http://www.ftn.uns.ac.rs/xws/bo/mt102"
				schemaLocation="../xsd/mt102.xsd" />
			<xsd:import namespace="http://www.ftn.uns.ac.rs/xws/bo/mt103"
				schemaLocation="../xsd/mt103.xsd" />
			<xsd:import namespace="http://www.ftn.uns.ac.rs/xws/bo/mt910"
				schemaLocation="../xsd/mt910.xsd" />
			<xsd:import namespace="http://www.ftn.uns.ac.rs/xws/bo/mp"
				schemaLocation="../xsd/mp.xsd" />
			<xsd:complexType name="RtgsConfirmType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" name="mt910" type="mt910:Mt910" />
					<xsd:element maxOccurs="1" name="mt103" type="mt103:Mt103" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ClearingConfirmType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" name="mt910" type="mt910:Mt910" />
					<xsd:element maxOccurs="1" name="mt102" type="mt102:Mt102" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="rtgsConfirm" type="mpb:RtgsConfirmType" />
			<xsd:element name="clearingConfirm" type="mpb:ClearingConfirmType" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="rtgsConfirmMessage">
		<wsdl:part name="rtgsConfirmPart" element="mpb:rtgsConfirm" />
	</wsdl:message>
	<wsdl:message name="clearingConfirmMessage">
		<wsdl:part name="clearingConfirmPart" element="mpb:clearingConfirm" />
	</wsdl:message>
	<wsdl:portType name="MpbDocument">
		<wsdl:operation name="rtgsConfirm">
			<wsdl:input message="mpb:rtgsConfirmMessage" />
		</wsdl:operation>
		<wsdl:operation name="clearingConfirm">
			<wsdl:input message="mpb:clearingConfirmMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MpbServiceSoapBinding" type="mpb:MpbDocument">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="rtgsConfirm">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="clearingConfirm">
			<soap:operation soapAction="" style="document" />
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MpbDocumentService">
		<wsdl:port name="MpbDocumentPort" binding="mpb:MpbServiceSoapBinding">
			<soap:address location="http://localhost:8080/mpb" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
