CentralnaBanka/WEB-INF/wsdl/mpcb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelloDocumentService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:mt103="http://www.ftn.uns.ac.rs/xws/xsd/mt103" xmlns:mp="http://www.ftn.uns.ac.rs/xws/xsd/mp"
	xmlns:mt102="http://www.ftn.uns.ac.rs/xws/xsd/mt102" xmlns:mt900="http://www.ftn.uns.ac.rs/xws/xsd/mt900"
	xmlns:cmn="http://www.ftn.uns.ac.rs/xws/xsd/cmn" xmlns:mpcbws="http://www.ftn.uns.ac.rs/xws/ws/mpcb"
	targetNamespace="http://www.ftn.uns.ac.rs/xws/ws/mpcb">

	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.ftn.uns.ac.rs/xws/xsd/mp"
				schemaLocation="../xsd/mp.xsd" />
			<import namespace="http://www.ftn.uns.ac.rs/xws/xsd/mt102"
				schemaLocation="../xsd/mt102.xsd" />
			<import namespace="http://www.ftn.uns.ac.rs/xws/xsd/mt103"
				schemaLocation="../xsd/mt103.xsd" />
			<import namespace="http://www.ftn.uns.ac.rs/xws/xsd/mt900"
				schemaLocation="../xsd/mt900.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="rtgsRequestMessage">
		<wsdl:part name="rtgsRequestPart" element="mt103:mt103" />
	</wsdl:message>
	<wsdl:message name="clearingRequestMessage">
		<wsdl:part name="clearingRequestPart" element="mt102:mt102" />
	</wsdl:message>
	<wsdl:message name="rtgsDebitMessage">
		<wsdl:part name="rtgsDebitPart" element="mt900:mt900" />
	</wsdl:message>
	<wsdl:message name="clearingResponseMessage">
	</wsdl:message>
	<wsdl:message name="mpException">
		<wsdl:part name="fault" element="mp:mpExceptionEnum" />
	</wsdl:message>

	<wsdl:portType name="MpcbDocument">
		<wsdl:operation name="rtgsRequest">
			<wsdl:input message="mpcbws:rtgsRequestMessage" />
			<wsdl:output message="mpcbws:rtgsDebitMessage" />
			<wsdl:fault message="mpcbws:mpException" name="MpException" />
		</wsdl:operation>
		<wsdl:operation name="clearingRequest">
			<wsdl:input message="mpcbws:clearingRequestMessage" />
			<wsdl:output message="mpcbws:clearingResponseMessage" />
			<wsdl:fault message="mpcbws:mpException" name="MpException" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="MpcbServiceSoapBinding" type="mpcbws:MpcbDocument">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="rtgsRequest">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="MpException">
				<soap:fault name="MpException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="clearingRequest">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>

			<wsdl:fault name="MpException">
				<soap:fault name="MpException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="MpcbDocumentService">
		<wsdl:port name="MpcbDocumentPort" binding="mpcbws:MpcbServiceSoapBinding">
			<soap:address location="http://localhost:8080/mpcb" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
