CentralnaBanka/WEB-INF/wsdl/swiftCode.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelloDocumentService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:cmn="http://www.ftn.uns.ac.rs/xws/xsd/common" xmlns:swiftCode="http://www.ftn.uns.ac.rs/xws/ws/swiftCode"
	targetNamespace="http://www.ftn.uns.ac.rs/xws/ws/swiftCode">

	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:swiftCode="http://www.ftn.uns.ac.rs/xws/ws/swiftCode"
			targetNamespace="http://www.ftn.uns.ac.rs/xws/ws/swiftCode">
			<import namespace="http://www.ftn.uns.ac.rs/xws/xsd/common"
				schemaLocation="../xsd/common.xsd" />
			<element name="swiftCode" type="cmn:SwiftCode" block="" />
			<element name="bankClearingAccountNumber" type="cmn:AccountNumber"
				block="" />
			<element name="noBankAccountException" type="xsd:string"
				block="" />
		</schema>
	</wsdl:types>

	<wsdl:message name="bankClearingAccountNumberMessage">
		<wsdl:part name="bankClearingAccountNumber" element="swiftCode:bankClearingAccountNumber" />
	</wsdl:message>
	<wsdl:message name="swiftCodeMessage">
		<wsdl:part name="swiftCode" element="swiftCode:swiftCode" />
	</wsdl:message>
	<wsdl:message name="noBankAccountException">
		<wsdl:part name="fault" element="swiftCode:noBankAccountException" />
	</wsdl:message>
	<wsdl:portType name="SwiftCodeDocument">
		<wsdl:operation name="getSwiftCode">
			<wsdl:input message="swiftCode:bankClearingAccountNumberMessage" />
			<wsdl:output message="swiftCode:swiftCodeMessage" />
			<wsdl:fault message="swiftCode:noBankAccountException"
				name="NoBankAccountException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SwiftCodeServiceSoapBinding" type="swiftCode:SwiftCodeDocument">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getSwiftCode">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="NoBankAccountException">
				<soap:fault name="NoBankAccountException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SwiftCodeDocumentService">
		<wsdl:port name="SwiftCodeDocumentPort" binding="swiftCode:SwiftCodeServiceSoapBinding">
			<soap:address location="http://localhost:8080/swiftCode" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
